<!DOCTYPE html>
<html>
	<head>
		<title>Read File Without Saving in Flask</title>
	</head>
	<body>
		<form method="post" enctype="multipart/form-data">
			<label for="prompt">Prompt:</label>
			<input type="text" id="prompt" name="prompt"><br>
			<!-- <label for="bookn">Book Name:</label>
			<input type="text" id="bookn" name="bookn"><br>
			<label for="namesp">Namespace:</label>
			<input type="text" id="namesp" name="namesp"><br> -->
			<input type="submit" value="Submit"><br>

 		</form>
	</body>
</html>
